<html ng-app='app'>
	<head>
    	<link rel="stylesheet" href="../lib/bootstrap.css" />
		<script src="../lib/jquery-1.10.2.js"></script>
		<script src="../lib/jquery-ui-1.10.4.custom.js"></script>
		<script src="../lib/highcharts.js"></script>
		<script src="../lib/angular.js"></script>
		<script src="../lib/lodash.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<div class="container" ng-controller="Ctrl">
			<div class="row">
				Start Year <input type="text" ng-model="startYear">
				End Year <input type="text" ng-model="endYear">
				<div class="row">
					<button ng-click="applyFilters()">Apply Filter</button>
				</div>
			</div>
			<!--<bar-chart title="Average Yearly Cricket Scores"   
			labels="data.labels">
				<series ng-repeat="scoreset in filteredScores" title="{{scoreset.player}}" ng-model="scoreset.scores"></series>
			</bar-chart>-->
		</div>
	</body>
</html>
